In [137]:
import pandas as pd
import numpy as np
df=pd.read_csv(r'baseball.csv')

In [138]:
df.columns

Index(['Title'], dtype='object')

In [139]:
df1=pd.DataFrame()
print(df1.columns)
df1['Title']=df['Title'].apply(lambda x:x.lower())
df1['Year']=df1['Title'].str.extract( "(\d{4})",expand=False ).str.strip()
# df1['Year].isnull().values.any()   #True
# df1['Year'].isnull().values.sum()  #7163
# perc_year_na=7163/len(df)          #0.3%

Index([], dtype='object')

In [140]:
df1["Unmatched"] = df1['Title'].apply(lambda x: x.lower())

In [141]:
TeamName=['Braves','Marlins','Mets','Phillies','Nationals','Cubs','Reds','Brewers','Pirates','Cardinals','Diamondbacks',
'Rockies','Dodgers','Padres','Giants','Orioles','Red Sox','Yankees','Rays','Blue Jays','White Sox','Indians',
'Tigers','Royals','Twins','Astros','Angels','Athletics','Mariners','Ranger','yankees','Red Stocking','White Stocking','Brown Stocking','Greys','Browns',
'Bees','Redlegs','Beaneaters','Brewers','Senators','Robins','Doves','Rustlers','Orphans','Naps','Hightlanders','Colts','Americans','Bridgerooms','Superbas',
'Perfectos',"Chiefs","Sting","Sting","Mustangs","Generals","Black Sox","Admirals","Renegades","Capitals","Selects","Predators","Heat","Smoke","Aces",
"Reapers","Gremlins","Gators","Axemen","Falcons","Monsters","Legends","Dukes","Hammer","Outlaws","Redmen","Stix","Force","Merchants","Bandits","Hawks","Knights"
,"Bullets","Deuces","Jacks","Diamond Jaxx","K-Men","Magicians","Sluggers","Chuckers","Fireballers","Phantoms","Matadors","Sharks"
,"Bulls","Hounds","Wildcats","Kraken","Kolts","Blaze","Kings","Classics","Klassics"]
TeamName = [i.lower() for i in TeamName]

In [142]:
def team_name_extract(x):
    for i in TeamName:
        if i in x.lower():
            return i

In [143]:
df1['TeamName']=df1['Title'].apply(lambda x:team_name_extract(x))
df1['TeamName'].isnull().values.sum()/len(df) #missing 95% team name is not a frequently used key words in basketball cards

0.7632527013340228

In [144]:
pd.DataFrame(df1.groupby('TeamName')['TeamName'].count()).rename(columns={"TeamName": "Count"}).sort_values(by='Count',ascending=False)

              Count
TeamName
yankees       59546
braves        45615
dodgers       32538
angels        29931
mets          21501
...             ...
merchants         5
hounds            4
diamond jaxx      3
deuces            2
beaneaters        1

[81 rows x 1 columns]

# Professional Grader

In [145]:
df1['Grader']=df1['Title'].str.extract(r'(psa|bgs|sgc|bvg|bccg|scd|gai|sgv)',expand=True)
#df1['Grader']=df1['Grader'].str.upper()

In [146]:
pd.DataFrame(df1.groupby('Grader')['Grader'].count()).rename(columns={"Grader": "Count"}).sort_values(by='Count',ascending=False)

         Count
Grader
psa     374586
bgs      89750
sgc      14679
bvg       3815
bccg      1814
gai        894
scd         78

# Classifier

In [147]:
df1['Classifier']=df1['Title'].str.extract(r'(single|lot|set|box|pack|team set|uncut sheet|box&case breaks|cello|booklet)',expand=True)
#df1['Classifier']=df1['Classifier'].str.capitalize()

In [148]:
# df1['Classifier']=df['Title'].str.extract(r'(Single|Lot|Set|Box|Pack|Team Set|Uncut Sheet|Box&Case Breaks|Cello|single|lot|set|box|pack|team set|uncut sheet|box&case breaks|cello|SINGLE|LOT|SET|BOX|PACK|TEAM SET|UNCUT SHEET|BOX&CASE BREAKS|CELLO)',expand=True)
# df1['Classifier']=df1['Classifier'].str.capitalize()

In [149]:
pd.DataFrame(df1.groupby('Classifier')['Classifier'].count()).rename(columns={"Classifier": "Count"}).sort_values(by='Count',ascending=False)

              Count
Classifier
lot          140995
box           69187
set           52238
pack          14242
team set       5975
single         4025
booklet        2798
cello           890
uncut sheet      85

# Card Number

In [150]:
df1['CardNumber']=df1['Title'].str.extract("#(\w*\.?\-?\/?\d?\w*\-?\w+)",expand=True )
#df1['CardNumber']=df['Title'].str.extract( "#(\w*\.?\-?\d?\w+)",expand=True )
 #df1['CardNumber'].isnull().values.sum()/len(df) # 42% missing

# Quantity Made

In [151]:
df1['QuantityMade']=df1['Title'].str.extract( "(\d?\d?\d?\d?\d?\d?\/\d+)",expand=True )
#df1['QuantityMade'].isnull().values.sum()/len(df) # 74% missing

# Specialty

In [153]:
Keywords= ["jerseys","jersey","freshman","rookies","rc", "mvp","mvps","hof","auto","rookie","nnof","xrc","big four","bip","foil","jsy","nib","pc","opg"]

def Special(x):
    String=""
    for i in Keywords:
        for k in x.split(" "):
            if i in k:
                String += str(i) + ","
    if String:
        return String[:-1]
    else:
        return np.NaN

df1['Specialty']=df1['Title'].apply(lambda x: Special(x))

In [154]:
df1['Specialty'].isnull().values.sum()/len(df) #%50.94 missing

0.45650942692871305

# Players

In [155]:
import requests
from bs4 import BeautifulSoup
def fetch_famous_players(baseurl):
    famous_player = []
    response = requests.get(baseurl)
    if response.status_code == 200:
        print("Success")
    else:
        print("Failure")
    results_page = BeautifulSoup(response.content,'html.parser')
    page = results_page.find("table").find_all('td', attrs={'style':'font-family: Arial, sans-serif; color: windowtext; font-size: 10.0pt; font-weight: 400; font-style: normal; text-decoration: none; text-align: general; vertical-align: bottom; white-space: nowrap; border: medium none; padding-left: 1px; padding-right: 1px; padding-top: 1px'})
    for i in page:
        famous_player.append(i.text.split('\n')[1].strip())
    return famous_player

In [156]:
famous_player = fetch_famous_players("http://ainsworthsports.com/baseball_player_rankings_all_time_1_to_1000.htm")
famous_player.extend(fetch_famous_players("http://ainsworthsports.com/baseball_player_rankings_all_time_1001_to_2000.htm"))
famous_player.extend(fetch_famous_players("http://ainsworthsports.com/baseball_player_rankings_all_time_2001_to_3000.htm"))
famous_player.extend(fetch_famous_players("http://ainsworthsports.com/baseball_player_rankings_all_time_3001_to_4000.htm"))
famous_player.extend(fetch_famous_players("http://ainsworthsports.com/baseball_player_rankings_all_time_4001_to_5000.htm"))
type(famous_player)

Success
Success
Success
Success
Success

list

In [157]:
def person(x):
    for i in famous_player:
        dummy = i.lower()
        if dummy in x:
            return i

In [158]:
df1['Player_Name']=df1['Title'].apply(lambda x: person(x))

In [159]:
pd.DataFrame(df1.groupby('Player_Name')['Player_Name'].count()).rename(columns={"Player_Name": "Count"}).sort_values(by='Count',ascending=False)

                   Count
Player_Name
Ronald Acuna       67308
Mike Trout         55008
Derek Jeter        37374
Fernando Tatis     33385
Vladimir Guerrero  29112
...                  ...
Jap Barbeau            1
Ray Sanders            1
Brad Arnsberg          1
Bobby Castillo         1
Tommy Thomas           1

[3888 rows x 1 columns]

In [160]:
df1

,Title,Year,Unmatched,TeamName,Grader,Classifier,CardNumber,QuantityMade,Specialty,Player_Name
0,1974 laughlin all-star games phil cavarretta #44,1974,1974 laughlin all-star games phil cavarretta #44,None,NaN,NaN,44,NaN,NaN,Phil Cavarretta
1,1955 bowman del crandall #217,1955,1955 bowman del crandall #217,None,NaN,NaN,217,NaN,NaN,Del Crandall
2,1957 topps del crandall #133,1957,1957 topps del crandall #133,None,NaN,NaN,133,NaN,NaN,Del Crandall
3,1995 skybox emotion timeless cal ripken jr #8 hof,1995,1995 skybox emotion timeless cal ripken jr #8 hof,None,NaN,box,8,NaN,hof,Cal Ripken
4,1989 st vincent rookies stamps ken griffey jr ...,1989,1989 st vincent rookies stamps ken griffey jr ...,None,NaN,NaN,NaN,NaN,"rookies,hof,rookie,rookie",None
...,...,...,...,...,...,...,...,...,...,...
2293584,shohei ohtani 2019 bowman sterling black atomi...,2019,shohei ohtani 2019 bowman sterling black atomi...,None,NaN,NaN,/10,/10,"auto,auto",None
2293585,shohei ohtani 2019 bowman sterling black atomi...,2019,shohei ohtani 2019 bowman sterling black atomi...,None,NaN,NaN,/10,/10,"auto,auto",None
2293586,shohei ohtani 2019 bowman sterling black atomi...,2019,shohei ohtani 2019 bowman sterling black atomi...,None,NaN,NaN,/10,/10,"auto,auto",None
2293587,shohei ohtani 2019 bowman sterling black atomi...,2019,shohei ohtani 2019 bowman sterling black atomi...,None,NaN,NaN,/10,/10,"auto,auto",None
2293588,shohei ohtani 2019 bowman sterling black atomi...,2019,shohei ohtani 2019 bowman sterling black atomi...,None,NaN,NaN,/10,/10,"auto,auto",None

In [161]:
df1['Player_Name'].isnull().sum()/len(df1)

0.3324845907440261

# Manufcturer

In [162]:
manufacturer=pd.read_csv(r'Sports_Cards_Keywords_Manufacturer.csv')
# manufacturer dictinoary
manufacturer = manufacturer.set_index('How It Appears').to_dict()['Manufacturuer']
print(len(manufacturer))
manufacturer_dict = {}
for key,val in manufacturer.items():
    if "|" in key:
        keys = key.split('|')
        for i in keys:
            manufacturer_dict[i.lower()] = val
    else:
        manufacturer_dict[key.lower()] = val
print(len(manufacturer))

443
443

In [163]:
manufacturer_list = list(manufacturer_dict.keys())
manufacturer_list = set(manufacturer_list)

In [164]:
def manufacturer_detect(x):
    res = ""
    for i in x.split(" "):
        if i in manufacturer_list:
            res = res + i + ","
    if res:
        return res
    else:
        return np.NaN

In [165]:
df1['Manufacturer']=df1['Unmatched'].apply(lambda x: manufacturer_detect(x))

In [166]:
df1['Manufacturer'].isnull().sum()/len(df1)

0.06870760192868033

# Rating

In [167]:
rating=pd.read_csv(r'Sports_Cards_Keywords_Grade.csv')
# manufacturer dictinoary
rating = rating.set_index('How It May Appear').to_dict()['Grade']
print(len(rating))
rating_dict = {}
for key,val in rating.items():
    if "|" in key:
        keys = key.split('|')
        for i in keys:
            rating_dict[i.lower()] = val
    else:
        rating_dict[key.lower()] = val
print(len(rating))

75
75

In [168]:
print(len(rating_dict))
rating_list = list(rating_dict.keys())
rating_list.sort(reverse=True)

1581

In [169]:
def rating_detect(x):
    for i in rating_list:
        if i in x:
            return i

In [170]:
df1['Rating']=df1['Title'].apply(lambda x: rating_detect(x))

In [171]:
df1['Rating'].isnull().sum()/len(df1)

0.6437587553829391

# Matching

In [172]:
def manufacturer_unmatched(x):
    if isinstance(x['Manufacturer'],str):
        dummy = x['Unmatched']
        manufacturer = x['Manufacturer'].split(',')
        while("" in manufacturer): 
            manufacturer.remove("")
        for i in manufacturer:
            dummy = dummy.replace(i,"")
        return dummy 
    else:
        return x['Unmatched']

In [173]:
df1['Unmatched']=df1.apply(lambda x: manufacturer_unmatched(x),axis = 1)

In [174]:
def rating_unmatched(x):
    if isinstance(x['Rating'],str):
        dummy = x['Unmatched']
        dummy = dummy.replace(x['Rating'],"")
        return dummy
    else:
        return x['Unmatched']

In [175]:
df1['Unmatched']=df1.apply(lambda x: rating_unmatched(x),axis = 1)

In [176]:
def else_unmatched(x):
    y = x['Unmatched']
    if isinstance(x['Player_Name'],str):
        name = x['Player_Name'].lower()
        y = y.replace(name,"")
    if isinstance(x['Year'],str):
        year = x['Year'].lower()
        y = y.replace(year,"")
    if isinstance(x['Specialty'],str):
        specialty = x['Specialty'].lower().split(',')
        for i in specialty:
            y = y.replace(i,"")
    if isinstance(x['Classifier'],str):
        classifiers = x['Classifier'].lower()
        y = y.replace(classifiers,"")
    if isinstance(x['QuantityMade'],str):
        quantity_made = x['QuantityMade'].lower()
        y = y.replace(quantity_made,"")
        if "/" in y:
            y = y.replace("/","")
    if isinstance(x['Grader'],str):
        garder = x['Grader'].lower()
        y = y.replace(garder,"")
    if isinstance(x['CardNumber'],str):
        card_number = x['CardNumber'].lower()
        y = y.replace(card_number,"")
        if "#" in y:
            y = y.replace("#","")
    if isinstance(x['TeamName'],str):
        team_name = x['TeamName'].lower()
        y = y.replace(team_name,"")
    return y

In [ ]:
df1['Unmatched']=df1.apply(lambda x: else_unmatched(x),axis = 1)

In [ ]:
def unmatched_trim(x):
    strings = x['Unmatched'].strip().split(' ')
    res = ' '.join([x for x in strings if x])
    return res

In [ ]:
df1['Unmatched']=df1.apply(lambda x: unmatched_trim(x),axis = 1)

In [ ]:
# !pip install nltk
import nltk
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize
from nltk.probability import FreqDist
from nltk.corpus import stopwords
from collections import OrderedDict
nltk.download('punkt')
words_list = df1['Unmatched'].values.tolist()
striptext = " ".join(words_list)
words = word_tokenize(striptext)
lowercase_words = [word.lower() for word in words]
word_frequencies = FreqDist(lowercase_words)
most_frequent_words = FreqDist(lowercase_words).most_common(10000)
print(most_frequent_words)

In [ ]:
import nltk
from nltk.tag import StanfordNERTagger
from nltk.tokenize import word_tokenize

st = StanfordNERTagger('english.all.3class.distsim.crf.ser.gz','stanford-ner-4.2.0.jar',encoding='utf-8')
def person2(text):
    for sent in nltk.sent_tokenize(text):
        tokens = nltk.tokenize.word_tokenize(sent)
        tags = st.tag(tokens)
        res = ""
        for tag in tags:
            if tag[1]=='PERSON':
                res = res + " "+ tag[0]
    return res.strip()

In [ ]:
undetect_name_text= [i[0] for i in most_frequent_words]
undetect_name_text = " ".join(undetect_name_text)
undetected_name = person2(undetect_name_text).split(' ')
undetected_name.extend(["ken","griffey","allen","ginter","ohtani","shohei",
                          "alvarez","franco","lewis","jim",
                          "al","nick","kyle","yordan","gavin","mike","dominguez",
                          "rodriguez","jasson","john","ryan","andrew","alex","diego","mckenzie",
                           "carlson","howard","zac","bryan","clarke","adams","brian","pearson",
                          "alexander","andy","perez","chuck","mackenzie","hernandez","andres",'anderson',
                          "matthew","kopech","rosario","stewart","marte","lee","brandon",'dalquist',
                           "triston","tim",'dylan','larry','martin','derek','pete','abrams','foli',
                     'jamieson','jimenez','amethyst','charley','alston','christin', 'kershaw','luke',
                        'sullivan', 'dustin','shane','bush','ryne', 'mccarthy', 'alec', 'willi','hunter',
                        'samuel','dawson','kelley','jimmie','yogi','tj','rutledge','leo','johnstone',
                        'eli','giles','varsho','ronaldo','mcconnell','sonny','evan','devin','medina',
                        'yoshitomo','kindall','herrnstein','dempsey','clayton','connell','levi',
                        'derrell','jahmai','marvin','blaylock','joba','lincoln','seth','delvin','scioscia',
                        'kenny','kenney','donald','ismael','locke','opitz','janowicz','dereck','burbrink',
                        'blackmon','leron','cade','bieber','lehner','jonathon','kuhn','dahl','jonatan',
                        'jurado','dirk','steiner','kaminsky','dana','dubiel','franklyn','poppel','garko',
                        'adon','jaeckel','quinton','mccracken','ackley','peter','senzel','mason','ferrara',
                       'wander','lux','matt','wallner','spangler','julio','wright','friday','verdugo'])

In [ ]:
undetected_name = set(undetected_name)
def person_left(x):
    res = ""
    for i in x['Unmatched'].split(" "):
        if i in undetected_name:
            res = res +" "+ i
    if x['Player_Name']:
        res = x['Player_Name']+","+res.strip()
        return res
    elif (not x['Player_Name']) and res:
        return res.strip()
    else:
        return np.NaN

In [ ]:
df1['Player_Name'] = df1.apply(lambda x:person_left(x),axis = 1)

In [ ]:
df1['Player_Name'].isnull().sum()/len(df1)

In [ ]:
def num_words_unmatched(x):
    y = x.split(' ')
    while("" in y): 
        y.remove("")
    if y:
        return len(y)
    else:
        return 0

In [ ]:
def cal_matched_percentage(x):
    if x['num_words_unmatched'] == 0:
        return 1
    else:
        return 1-(x['num_words_unmatched']/x['num_words_title'])

In [ ]:
df1['Unmatched']=df1.apply(lambda x: else_unmatched(x),axis = 1)

In [ ]:
df1['Unmatched']=df1.apply(lambda x: unmatched_trim(x),axis = 1)

In [ ]:
most_frequent_words = FreqDist(lowercase_words).most_common(200)
junk_words = [i[0] for i in most_frequent_words]
junk_words = set(junk_words)
def match_junks(x):
    res = ""
    for i in x.split(' '):
        if i in junk_words:
            res = res+" "+i
    if res:
        return res.strip()
    else:
        return np.NaN

In [ ]:
df1['Junks']=df1['Unmatched'].apply(lambda x: match_junks(x))

In [ ]:
df1

In [ ]:
def replace_junks(x):
    res = x['Unmatched']
    if isinstance(x['Junks'],str):
        for i in x['Junks'].split(' '):
            if i in res:
                res = res.replace(i,"")
    return res

In [ ]:
df1['Unmatched']=df1.apply(lambda x: replace_junks(x),axis = 1)

# Calculating Stats

In [ ]:
df1['Unmatched']=df1.apply(lambda x: unmatched_trim(x),axis = 1)

In [ ]:
df1['num_words_unmatched']=df1['Unmatched'].apply(lambda x: num_words_unmatched(x))

In [ ]:
df1['num_words_title']=df1['Title'].apply(lambda x: len(x.split(' ')))

In [ ]:
df1['matched_percentage']=df1.apply(lambda x: cal_matched_percentage(x),axis = 1)

In [ ]:
df1['matched_percentage'].mean()

In [ ]:
def manufacturer_back(x):
    if isinstance(x,str):
        arr = x.split(',')
        res = ""
        while("" in arr) : 
            arr.remove("")
        while(" " in arr) : 
            arr.remove(" ")
        for i in arr:
            res = res + " "+ manufacturer_dict[i.strip()]
        return res
    else:
        return np.NaN

In [ ]:
def rating_back(x):
    if isinstance(x,str):
        return rating_dict[x]
    else:
        return np.NaN

In [ ]:
def lower_back(x):
    if isinstance(x,str):
        return x.lower()
    else:
        return np.NaN

In [ ]:
df1['Manufacturer']=df1['Manufacturer'].apply(lambda x: manufacturer_back(x))
df1['Rating'] = df1['Rating'].apply(lambda x: rating_back(x))

In [ ]:
# df1['Specialty']=df1['Specialty'].str.upper()
# df1['Classifier']=df1['Classifier'].str.capitalize()
# df1['Grader']=df1['Grader'].str.upper()

In [ ]:
df1.to_csv('baseball_df.csv', index=False)